<img id="home-logo" src="images/swell.png" alt="swell logo">
{{!-- <h1>{{title}}</h1> --}}

<nav>   
    <a class="menu-item" href="#">Corporate Gifts</a>
    <a class="menu-item" href="#">Sale</a>
    <a class="menu-item" href="#">Personalize</a>
    <a class="menu-item" href="#">New Arrivals</a>
    <a class="menu-item" href="#">Shop</a>
</nav>

<h2>Find your {{title}}</h2>
<p id="home-intro">Click a style below to browse through our products</p>
<div id="products">
<a href="/classic"><img class="bottle-thumb" src="images/classic-pink.jpg" alt="Classic"></a>
<a href="/traveler"><img class="bottle-thumb" src="images/traveler-white.jpg" alt="Classic"></a>
<a href="/roamer"><img class="bottle-thumb" src="images/roamer-inkwell.jpg" alt="Classic"></a>
</div>

