<h1>{{title}}</h1>
<img id="home-logo" src="../public/images/swell.png" alt="swell logo">
<p>Find your {{title}}</p>
<a href="/classic"><img src="../public/images/classic-pink.jpg" alt="Classic"></a>
<a href="/traveler"><img src="../public/images/traveler-white.jpg" alt="Classic"></a>
<a href="/roamer"><img src="../public/images/roamer-inkwell.jpg" alt="Classic"></a>


