body { 
    background-color: $bg-color;
    font-size: 14px;
    color: $text-color;
}

#home
{
    font-size: 1em;
    color: $text-color;
}

#home-logo
{
    text-align: center;
    width: 20%;
    clear: both;
    position: absolute;
}

h2
{
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
}

nav 
{
    clear: both;
}

.menu-item
{
    color: black;
    text-align: right;
    float: right;
    padding: 10px;
}

.bottle-thumb
{
    width: 20%;
    float: left;
}

#products
{
    text-align: center;
    margin: 0 auto;
    margin-left: 10%;
}